body {
    background-image: url(../IMG/sakura.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
   background-size: cover;

}

p, h1, h2{
    text-align: center;
    color: aliceblue;
}
section{
 
    height: 120vh;
    text-align: center;
}
video{
    align-items: center;
    text-align: center;
    float:center;
    width: 1885px;
}