body {
    color: white;
}

div {
    background-color:rgb(97, 97, 97);
    border-top: 3px dotted red;
    border-right: 5px solid red;
    border-bottom: 10px solid red;
    border-left: 5px solid red;
}

p{
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 25px;
   
}
h2{
    margin-top: 18px;
    margin-left: 15px;
    margin-bottom: 0px
}